body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container{
    background: rgb(222, 217, 217);
    width: 400px;
    height: 300px;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.placeholder{
    font-size: 4rem;
}

.btn{
    text-align: center;
    background-color: rgb(82, 186, 179);
    border-radius: 6px;
    margin: 30px auto;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}